#principal{
  background-color: #000000;
  /*background-color : black;   esto es un comentario*/
  width: 400px;
  height: 400px;
  border-radius: 50px;
}
#dvInicio{
  width: 100%;
  height: 100%;
}
#dvTexto{
  text-align: center;
padding:  5px 0px 15px 0px;
}
#dvTexto label{
  color:white;
  font-size: 25px;
}
#imgUsuario{
  width: 12%;
}
#dvImg{
  text-align: center;

}

.renglon{
  width: 100%;
  height:60px;
  /*display: flex;*/
text-align: center;
}

.renglon label{
  color: white;
  display: inline-block;
  width: 300%;
  height: 30%;
  font-size: 22px;
}

.renglon input{
  display: inline-block;
  width: 259px;
  height: 42px;
}

#dvEntrar button{
  color: #ffffff;
  background-color: #53D769;
  border-radius: 18px;
  width: 359px;
  height: 42px;
  font-size: 22px;
  border: 0px;

}
